.body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #f2f2f2;
  line-height: 1.6;
  font-size: 15px;
}
* {
  box-sizing: border-box;
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  outline: 2px solid #000;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.button {
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.button:hover {
  background: #fff;
  outline: 2px solid #ffb619;
  color: #000;
}

/* header */
.top-heading {
  background-color: #f2f2f2;
  color: #666666;
}
.top-heading__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.top-heading__socials {
  cursor: pointer;
}
.main-heading {
  display: flex;
  justify-content: space-between;
  color: #393939;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo__title > div:first-child {
  font-size: 28px;
}
.logo__title > div:last-child {
  font-size: 14px;
  color: #666666;
}
.logo__img {
  margin-right: 15px;
  margin-top: 35px;
}
.underlogo-img {
  position: relative;
  left: 7px;
  top: -15px;
}
.header-nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.link {
  color: #393939;
  text-decoration: none;
}
.nav-finder {
  cursor: pointer;
}
.header-nav > img {
  width: 18px;
  height: 18px;
  margin-right: 0;
}
.header-nav > div {
  margin-right: 35px;
}
/* Remodeling */
.remodeling__title {
  font-size: 35px;
  font-weight: bold;
}
.remodeling {
  background: url(img/backgorindTop.jpg) center no-repeat;
  background-size: cover;
}
.remodeling__wrapper {
  display: flex;
  padding: 170px 0 110px 110px;
}

.expert__content {
  margin-top: 30px;
  margin-left: 90px;
}
.expert__content > p {
  margin-top: 22px;
  margin-bottom: 40px;
  color: #cccccc;
  font-size: 18px;
  line-height: 28px;
}
.oranged {
  background-color: #ffb619;
  padding: 18px 38px;
  font-size: 15px;
  margin-right: 20px;
}
.whited {
  padding: 16px 36px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid #fff;
}
/* Expirience */
.expirience {
  background: url(img/expBG.png) center no-repeat;
  background-size: cover;
}
.expirience__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}
.expirience-title {
  color: #333333;
  font-size: 26px;
  text-transform: none;
}
.expirience__wrapper > button {
  font-size: 18px;
  background-color: #ffb619;
  padding: 16px 35px 16px 20px;
}
/* Advantages */

.advantages-block {
  color: #666666;
  margin-left: 140px;
}
.advantages__wrapper {
  padding: 80px 0 120px 0;
  display: flex;
}
.img-block {
  outline: 5px solid #e6e6e6;
  width: 600px;
  height: 420px;
  margin-left: 5px;
  position: relative;
}
.toyBackground {
  width: 420px;
  height: 420px;
  margin: 30px 0 0 30px;
  position: absolute;
}
.advantages__title {
  color: #333333;
  font-size: 3em;
  font-weight: 700;
}
.underLine {
  border-bottom: solid 5px #1c3e9b;
  width: 60px;
  margin: 20px 0 30px 0;
}

.content-block__background {
  width: 70px;
  height: 50px;
  background: #1c3e9b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages-points {
  display: flex;
  margin-top: 40px;
}
.content-block {
  display: flex;
}
.content-block__text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.content-title {
  font-size: 18px;
  color: #333333;
}
.content-block:first-child {
  margin-bottom: 40px;
}

/* Services */
.services__wrapper {
  padding: 80px 0 95px 0;
}
.services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-underline {
  margin: 20px 0 65px 0;
}

.services-title {
  font-size: 35px;
}
.services {
  background: url(img/backBearsNonColor.png) center no-repeat;
  background-size: cover;
}
.services-underline {
  border-bottom: solid 5px #fff;
  width: 60px;
}
.services__list {
  display: flex;
}
.service-outer {
  width: 270px;
  outline: 5px solid #013e99;
  margin-right: 30px;
}
.service-outer:hover {
  background: #013e99;
  cursor: pointer;
}
.service-outer:last-child {
  margin-right: 0;
}
.service-inner {
  padding: 48px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service-inner > img {
  margin-bottom: 29px;
}
.service-subTitle {
  font-size: 24px;
  margin-bottom: 23px;
}
.servise-button {
  background: #ffb619;
  padding: 18px;
}
.serviceButton-block {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
/* Projects */
.projects__wrapper {
  padding: 80px 0 100px 0;
}
.projects-title {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
}
.project-nav {
  display: flex;
  justify-content: space-between;
  width: 610px;
  text-transform: uppercase;
  color: f2f2f2;
  font-weight: bold;
  margin-bottom: 20px;
}
.project-nav > a {
  text-decoration: none;
  color: #666666;
}
.project-nav > a:hover {
  color: #ffb619;
}

.projects-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-img {
  margin-top: 22px;
}
.projects-img__flex {
  display: flex;
}

.projects-button {
  background: #ffb619;
  padding: 18px 34px;
}
.projectButton-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
/* Problems */
.problems {
  background: url(img/backBearsNonColor.png) center no-repeat;
  background-size: cover;
}
.problems__wrapper {
  padding: 190px 0 220px 0;
}
.problems-title {
  font-size: 36px;
}
.problems__wrapper > button {
  font-size: 18px;
  background-color: #ffb619;
  padding: 16px 35px 16px 20px;
  margin-top: 40px;
}
.problems__wrapper > div {
  width: 550px;
}
/* Location */
.location {
  background: url(img/expBG.png) center;
  background-size: initial;
}
.location__wrapper {
  padding: 80px 0 95px 0;
}
.location-titles {
  color: #333333;
  display: flex;
  margin-bottom: 40px;
}
.location-title {
  margin-right: 337px;
}
.form {
  width: 640px;
  height: 290px;
  margin-left: 90px;
}
.form-content {
  display: flex;
}
.form-flex {
  display: flex;
  width: 640px;
}
.mb-3 {
  width: 100%;
  margin-top: -20px;
}

.form-flex > div:first-child {
  margin-right: 20px;
}
.submit {
  background: #ffb619;
  padding: 18px 40px;
  margin-top: 35px;
}

.map-block {
  width: 470px;
  height: 420px;
  background: #e5e5e5;
  outline: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-block > img {
  width: 36px;
  height: 50px;
}
/* Quality */
.quality__wrapper {
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
/* Footer */
.footer {
  background: #1a1a1a;
}
.footer__wrapper {
  display: flex;
  padding: 70px 0 85px 0;
}
.footer-nav {
  display: flex;
}
.nav-contacts__title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
}
.nav-services {
  margin-left: 50px;
}
.nav-services__content {
  display: flex;
}
.nav-services__container {
  margin: 0;
  padding: 0;
}
.nav-services__container:first-child {
  margin-right: 50px;
}
.nav-services__container > li {
  list-style: none;
  margin-bottom: 25px;
}
.nav-contacts__link {
  text-decoration: none;
  color: #999999;
}
.nav-services__link {
  text-decoration: none;
  color: #999999;
}
.img-background {
  width: 50px;
  height: 50px;
  background: #252525;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.nav-contacts__block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.nav-contacts__block:last-child {
  margin-bottom: 0;
}
.nav-services__link::before {
  content: ">";
  color: #ffb619;
  margin-right: 10px;
  font-weight: bold;
}
.copyright {
  background: #0d0d0d;
}
.discount__wrapper {
  outline: 1px dotted #fff;
  min-width: 370px;
  width: 100%;
  margin-left: 70px;
}
.discount__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px;
}
.discount__title > span {
  color: #ffb619;
  font-weight: bold;
  font-size: 55px;
  margin: 0 20px;
}
.discount__code {
  color: #ffb619;
  font-size: 16px;
  text-transform: uppercase;
}
/*copyright */
.copyright__wrapper {
  color: #666666;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.copyright__company {
  color: #ffb619;
}

/* form + JS */

.test-form {
  border-radius: 11px;
  width: 300px;
  background: #666666;
  margin: 0 auto;
  padding: 1em;
  display: none;
  position: absolute;
}
.submit__button {
  background: #ffb619;
  padding: 7px 15px;
}
.form-check {
  margin-top: 10px;
}
.form-label {
  margin: 10px 0 10px 0;
}
.close {
  margin-top: 16px;
  float: right;
  cursor: pointer;
  width: 1em;
  height: 1em;
  background: #ffb619;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
